body {
  background-image: set(url("chrome-search://theme/IDR_THEME_NTP_BACKGROUND?pedefpmipcjpkmffibfpbaadkkm…arch://theme/IDR_THEME_NTP_BACKGROUND@2x?pedefpmipcjpkmffibfpbaadkkmmbdbc") 2x);
}
h1 {
  color: white;
}
h3 {
  color: white;
}
